## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/Scott/Desktop/Repositories/World_Weather_Analysis/Weather_Database/Weather_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,High Rock,BS,26.6208,-78.2833,78.82,76,53,15.12,broken clouds
1,1,Mesyagutovo,RU,55.5303,58.2528,39.40,93,100,3.02,light rain
2,2,Tiksi,RU,71.6872,128.8694,32.00,90,7,3.98,clear sky
3,3,Puerto Ayora,EC,-0.7393,-90.3518,71.83,91,34,6.96,scattered clouds
4,4,Airai,TL,-8.9266,125.4092,72.36,48,9,5.08,clear sky

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
#Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                        (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,High Rock,BS,26.6208,-78.2833,78.82,76,53,15.12,broken clouds
5,5,Oistins,BB,13.0667,-59.5333,79.12,77,98,12.50,overcast clouds
10,10,Rikitea,PF,-23.1203,-134.9692,76.01,76,49,17.27,scattered clouds
17,17,Atuona,PF,-9.8000,-139.0333,78.78,75,32,18.81,light rain
33,33,Bengkulu,ID,-3.8004,102.2655,81.37,76,89,1.48,overcast clouds
43,43,Boa Vista,BR,2.8197,-60.6733,75.18,94,75,3.44,light rain
48,48,Kapaa,US,22.0752,-159.3190,82.38,81,100,12.66,overcast clouds
55,55,Cayenne,GF,4.9333,-52.3333,82.09,1,75,3.00,broken clouds
63,63,Butaritari,KI,3.0707,172.7902,82.35,78,67,13.73,broken clouds
64,64,Bubaque,GW,11.2833,-15.8333,77.90,74,13,13.42,few clouds

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                197
City                   197
Country                197
Lat                    197
Lng                    197
Max Temp               197
Humidity               197
Cloudiness             197
Wind Speed             197
Current Description    197
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,High Rock,BS,26.6208,-78.2833,78.82,76,53,15.12,broken clouds
5,5,Oistins,BB,13.0667,-59.5333,79.12,77,98,12.50,overcast clouds
10,10,Rikitea,PF,-23.1203,-134.9692,76.01,76,49,17.27,scattered clouds
17,17,Atuona,PF,-9.8000,-139.0333,78.78,75,32,18.81,light rain
33,33,Bengkulu,ID,-3.8004,102.2655,81.37,76,89,1.48,overcast clouds
43,43,Boa Vista,BR,2.8197,-60.6733,75.18,94,75,3.44,light rain
48,48,Kapaa,US,22.0752,-159.3190,82.38,81,100,12.66,overcast clouds
55,55,Cayenne,GF,4.9333,-52.3333,82.09,1,75,3.00,broken clouds
63,63,Butaritari,KI,3.0707,172.7902,82.35,78,67,13.73,broken clouds
64,64,Bubaque,GW,11.2833,-15.8333,77.90,74,13,13.42,few clouds

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,High Rock,BS,78.82,broken clouds,26.6208,-78.2833,
5,Oistins,BB,79.12,overcast clouds,13.0667,-59.5333,
10,Rikitea,PF,76.01,scattered clouds,-23.1203,-134.9692,
17,Atuona,PF,78.78,light rain,-9.8000,-139.0333,
33,Bengkulu,ID,81.37,overcast clouds,-3.8004,102.2655,
43,Boa Vista,BR,75.18,light rain,2.8197,-60.6733,
48,Kapaa,US,82.38,overcast clouds,22.0752,-159.3190,
55,Cayenne,GF,82.09,broken clouds,4.9333,-52.3333,
63,Butaritari,KI,82.35,broken clouds,3.0707,172.7902,
64,Bubaque,GW,77.90,few clouds,11.2833,-15.8333,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
nohotelname = hotel_df.replace("", nan_value, regex=True)
clean_hotel_df = nohotelname.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,High Rock,BS,78.82,broken clouds,26.6208,-78.2833,Hideaway Bahamas Beach Club
5,Oistins,BB,79.12,overcast clouds,13.0667,-59.5333,Butterfly Beach Hotel
10,Rikitea,PF,76.01,scattered clouds,-23.1203,-134.9692,People ThankYou
17,Atuona,PF,78.78,light rain,-9.8000,-139.0333,Villa Enata
33,Bengkulu,ID,81.37,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
...,...,...,...,...,...,...,...
683,Beruwala,LK,82.72,overcast clouds,6.4788,79.9828,The Palms Hotel
686,Bambanglipuro,ID,86.31,broken clouds,-7.9500,110.2833,Puri Brata
702,Si Sa Ket,TH,87.01,overcast clouds,14.8333,104.3333,ร้านค้า อัญชัน
703,Davila,PH,87.78,overcast clouds,18.4726,120.5763,Blue Ridge Beach Resort
704,Seoul,KR,78.37,mist,37.5683,126.9778,롯데호텔 서울

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))